#skill > h1{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
#skill{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;

}
#skill > p {
    font-size: 20px;
    display: flex;
}

table {
    font-size: 20px;
    border-collapse: collapse ;
    width: 70% ;
    margin: auto;

  }
  
  td, th {
    border: 1px solid #dddddd ;
    text-align: left;
    padding: 15px !important;
    text-align: center !important;


  }
  
  tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.147) ;
  }





  .bar-border{
    margin: auto  !important;
    align-content: center !important;
    border: 1px solid white;
    width: 100%;
  }

  .progress{
    margin-top:auto !important;
    margin-bottom: auto !important;
    background: linear-gradient(rgba(255, 255, 255, 0.802) 40%, rgba(255, 255, 255, 0.568) 60%) !important;
    color: black;
    font-size: 15px;
    

    
  }
  

  /* .checked {
    color: yellow ;
  } */


