#skill > h1{
    font-size: 50px;
    margin-top: 20px;
    text-align: center;
}
#skill{
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;

}
#skill > p {
    font-size: 20px;
    display: flex;
}

table {
    font-size: 20px;
    border-collapse: collapse ;
    width: 70% ;
    margin: auto;
  }
  
  td, th {
    border: 1px solid #dddddd ;
    text-align: left;
    padding: 15px !important;
    text-align: center !important;
  }
  
  tr:nth-child(even) {
    background: rgba(0, 0, 0, 0.324) ;
  }

  .checked {
    color: yellow ;
  }


